<head>
    <meta charset="UTF-8">
    <title>Web Authentication System</title>
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="login">
        <section id="header">
            <h1>Login Page</h1>
        </section>
        <div class="main">
            <form action="./" method="post">
                <label for="Username">Username</label><br>
                <input type="text" id="Username" placeholder="Type your Username"><br><br>
                <label for="Password">Password</label><br>
                <input type="password" id="Password" placeholder="Type your Password"><br><br>
                <section id="login">
                    <button type="submit" id="lbutton"><p>Login</p></button>
                </section>
                <section id="signup">
                    <a href="./register" id="regpage">Sign Up Now</a>
                </section>
            </form>
        </div>
    </div>
</body>