*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html
{
    width: 100%;
    height: 100%;
}
body
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, blue, gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1
{
    font-size: 35px;
    color: black;
    padding: 20px 25px;
}
.login
{
    display: block;
    background-image: linear-gradient(to top, rgb(172,174,246),whitesmoke);
    height: 50%;
}
.register
{
    display: block;
    background-image: linear-gradient(to top, rgb(172,174,246),whitesmoke);
    height: 60%;
}
#header
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}
#login, #rbutton
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
}
#lbutton
{
    width: 80%;
}
#signup
{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
p
{
    padding: 5px 25px;
    font-size: 15px;
}
label
{
    font-size: 20px;
}